.driedelig {
  display: flex;
  background-color: white;
height: 100px;
  align-items: center; 
  position: sticky;
  top: 0;
  z-index: 1000;
  
  
  }

.pfp{ 
  border-radius: 10px;
}



.campusknop{padding-top: 40px;}



  h1{font-size: 20px;
color: black;
font-family: monospace;}
  

.links,.midden,.rechts {
  flex: 1; 
  text-align: center;
padding: 12px; 

 }


P{font-family: monospace;
    font-size: 30px;
    
}

/* hover animatie  */
.rechts img{transition: transform 0.3s ease;}
.links img{transition: transform 0.3s ease;}
.midden img{transition: transform 0.3s ease;}

.links img:hover{transform: scale(1.1);}
.rechts img:hover{transform: scale(1.1);}
.midden img:hover{transform: scale(1.1);}



          /* tekstgrootte */

    body{background-image: url(../assets/achtergrondafbeelding.png);
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0;
      

    }


    .type-animatie{ 
  overflow: hidden;              /* verbergt de tekst die nog niet “getypt” is */
  border-right: 2px solid black; /* knipperende cursor */
  white-space: nowrap;           /* alles op één regel */
  width: 0;                      /* start met niks zichtbaar */
  animation: tikken 3s steps(30, end) forwards,  /*bepaalt hoeveel stappen  en de tijd  */
             knipper 0.7s step-end infinite;     /* cursor */
  font-family: monospace;
  font-size: 2rem;
  color: black;
}

@keyframes tikken {  
  from { width: 0; }
  to { width: 100%; }
}  

/* maakt de letters langzaam zichtbaar */

@keyframes knipper {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}
/* knippert de cursor steeds aan en uit. */


    
    
    
    .driedeligimageslider {
  display: flex;
  ;
margin-top: 200px;
  align-items: center;  
  flex-wrap: wrap; /* laat elementen naar de volgende regel gaan */    }

  
  .driedeligimagesliderbegin {
  display: flex;
  ;
margin-top: 350px;
  align-items: center;  
  flex-wrap: wrap; /* laat elementen naar de volgende regel gaan */    }


 
.karakter_selectie{ 

display: flex;
  align-items: center;

justify-content: center;
}
 
  


@media (max-width: 768px) {
  body {
    flex-direction: column; /* zet alles onder elkaar */
    align-items: center; /* centreren */
  }
}
